// MAIN TYPOGRAHY CONFIGURATION

$font-headers-modern-family: "Montserrat Variable";
$font-headers-classic-family: "Crimson Pro";

$font-text-modern-family: "Montserrat Variable";
$font-text-clasic-family: "Crimson Pro";

// List of headings
$headings: (
  h1: $h1,
  h2: $h2,
  h3: $h3,
  h4: $h4,
  h5: $h5,
  h6: $h6,
);
// Loop over list of headings
// @each ( $heading : $size )
@each $heading, $size in $headings {
  #{$heading} {
    font-family: $font-headers-modern-family;
    margin: 0 0 10px 0;
    font-weight: 400;
    letter-spacing: 0.15em;
  }
}

.classic-header {
  font-family: $font-headers-classic-family;
  letter-spacing: 0.2em;
}
